<!DOCTYPE html>
<html dir="ltr" lang="ko">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<!-- Document title -->
	<title>DoubleK-HumanTech</title>
	<!-- Stylesheets & Fonts -->
	<link href="css/plugins.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet"> 
</head>

<body>

	<!-- Body Inner -->
	<div class="body-inner">

		<!-- Header -->
		<header id="header" class="header-mini dark">
			<div class="header-inner">
				<div class="container">
					<!--Logo-->
					<div id="logo">
						<a href="index.html" class="logo" data-src-dark="images/logo-dark.png">
							<img src="images/logo.png" alt="Polo Logo">
						</a>
					</div>
					<!--End: Logo-->

					<!-- Search -->
					<div id="search">
						<div id="search-logo"><img src="images/logo.png" alt="Polo Logo"></div>
						<button id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></button>
						<form class="search-form" action="search-results-page.html" method="get">
							<input class="form-control" name="q" type="search" placeholder="Search..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
							<span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
						</form>

						<div class="search-suggestion-wrapper">

							<div class="search-suggestion">
								<h3>News Articles</h3>
								<p><a href="#">Beautiful nature, and rare feathers!</a></p>
								<p><a href="#">New costs and rise of the economy!</a></p>
								<p><a href="#">A true story, that never been told!</a></p>
							</div>
							<div class="search-suggestion">
								<h3>Looking for these?</h3>
								<p><a href="#">New costs and rise of the economy!</a></p>
								<p><a href="#">AI can be trusted to take answer calls </a></p>
								<p><a href="#">Polo now lets you easily create any beautiful clean website</a></p>
							</div>
							<div class="search-suggestion">
								<h3>Blog Posts</h3>
								<p><a href="#">A true story, that never been told!</a></p>
								<p><a href="#">Beautiful nature, and rare feathers!</a></p>
								<p><a href="#">The most happiest time of the day!</a></p>
							</div>

						</div>
					</div>
					<!-- end: search -->

					<!--Header Extras-->
					<div class="header-extras">
						<ul>
							<li>
								<!--search icon-->
								<a id="btn-search" href="#"> <i class="icon-search1"></i></a>
								<!--end: search icon-->
							</li>
						</ul>
					</div>
					<!--end: Header Extras-->

					<!--Navigation Resposnive Trigger-->
					<div id="mainMenu-trigger">
						<button class="lines-button x"> <span class="lines"></span> </button>
					</div>
					<!--end: Navigation Resposnive Trigger-->

					<!--Navigation-->
					<div id="mainMenu">
						<div class="container">
							<nav>
								<ul>
									<li class="dropdown"><a href="company1.html">회사소개</a></li>
									<li class="dropdown"><a href="business1.html">사업소개</a></li>

									<li class="dropdown"><a href="#">제품</a>
										<ul class="dropdown-menu">
											<li><a href="product1.html">이베리스 공기청정기</a></li>
										</ul>
									</li>

									<li class="dropdown"><a href="gallery1.html">갤러리</a></li>

									<li class="dropdown"><a href="#">커뮤니티</a>
										<ul class="dropdown-menu">
											<li><a href="notice.html">공지사항</a></li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!--end: Navigation-->
				</div>
			</div>
		</header>
		<!-- end: Header -->

		<!-- Inspiro Slider -->
        <div id="slider" class="inspiro-slider arrows-large arrows-creative dots-creative" data-height-xs="360">
				<!-- Slide 2 -->
				<div class="slide background-overlay-dark kenburns" style="background-image:url('images/about/parallax-1.jpg');">
					<div class="container">
						<div class="slide-captions text-center text-light">
							<!-- Captions -->
							<span class="strong">Who we are</span>
							<h1>더블케이휴먼테크</h1>
							<!-- end: Captions -->
						</div>
					</div>
				</div>
				<!-- end: Slide 2 -->
	
			</div>
			<!--end: Inspiro Slider -->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="heading-text heading-section">
						<h2>THE COMPANY</h2>
						
					</div>
				</div>
				<div class="col-lg-9">
					<div class="row">
					<div class="col-lg-6">내용은 다른 업체 카피수정작업중 </div>
	
	<div class="col-lg-6">Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.   A true story, that never been told!.  Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.  <br> <br>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.</div>
	
	</div></div>
	
			</div>
		</div>
	</section>
	
	
	<section class="box-fancy section-fullwidth text-light p-b-0">
			<div class="row">
				<div style="background-color:#917d5d" class="col-lg-4">
					<h1 class="text-lg text-uppercase">01.</h1>
					<h3>CONCEPT</h3>
					<span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. </span>
				</div>
	
				<div style="background-color:#a08c6c" class="col-lg-4">
					<h1 class="text-lg text-uppercase">02.</h1>
					<h3>DEVELOPMENT</h3>
					<span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. </span>
				</div>
	
				<div style="background-color:#ad9979" class="col-lg-4">
					<h1 class="text-lg text-uppercase">03.</h1>
					<h3>TESTING</h3>
					<span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. </span>
				</div>
			</div>
	</section>
	
	<section class="background-grey">
		<div class="container">
			<div class="heading-text heading-section text-center">
				<h2>OUR TEAM</h2>
				<span class="lead">Create amaThe most happiest time of the day!.</span>
			</div>
			<div class="row team-members team-members-shadow m-b-40">
						<div class="col-lg-3">
							<div class="team-member">
								<div class="team-image">
									<img src="images/team/6.jpg">
								</div>
								<div class="team-desc">
									<h3>Alea Smith</h3>
									<span>Software Developer</span>
									<p>The most happiest time of the day!. Praesent tristique hendrerit ex ut laoreet. </p>
									<div class="align-center">
										<a class="btn btn-xs btn-slide btn-light" href="#">
											<i class="fab fa-facebook-f"></i>
											<span>Facebook</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
											<i class="fab fa-twitter"></i>
											<span>Twitter</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
											<i class="fab fa-instagram"></i>
											<span>Instagram</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
											<i class="far fa-envelope"></i>
											<span>Mail</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="team-member">
								<div class="team-image">
									<img src="images/team/7.jpg">
								</div>
								<div class="team-desc">
									<h3>Ariol Doe</h3>
									<span>Software Developer</span>
									<p>The most happiest time of the day!. Praesent tristique hendrerit ex ut laoreet. </p>
									<div class="align-center">
										<a class="btn btn-xs btn-slide btn-light" href="#">
											<i class="fab fa-facebook-f"></i>
											<span>Facebook</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
											<i class="fab fa-twitter"></i>
											<span>Twitter</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
											<i class="fab fa-instagram"></i>
											<span>Instagram</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
											<i class="far fa-envelope"></i>
											<span>Mail</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="team-member">
								<div class="team-image">
									<img src="images/team/8.jpg">
								</div>
								<div class="team-desc">
									<h3>Emma Ross</h3>
									<span>Software Developer</span>
									<p>The most happiest time of the day!. Praesent tristique hendrerit ex ut laoreet. </p>
									<div class="align-center">
										<a class="btn btn-xs btn-slide btn-light" href="#">
											<i class="fab fa-facebook-f"></i>
											<span>Facebook</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
											<i class="fab fa-twitter"></i>
											<span>Twitter</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
											<i class="fab fa-instagram"></i>
											<span>Instagram</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
											<i class="far fa-envelope"></i>
											<span>Mail</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="team-member">
								<div class="team-image">
									<img src="images/team/9.jpg">
								</div>
								<div class="team-desc">
									<h3>Victor Loda</h3>
									<span>Software Developer</span>
									<p>The most happiest time of the day!. Praesent tristique hendrerit ex ut laoreet. </p>
									<div class="align-center">
										<a class="btn btn-xs btn-slide btn-light" href="#">
											<i class="fab fa-facebook-f"></i>
											<span>Facebook</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
											<i class="fab fa-twitter"></i>
											<span>Twitter</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
											<i class="fab fa-instagram"></i>
											<span>Instagram</span>
										</a>
										<a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
											<i class="far fa-envelope"></i>
											<span>Mail</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="heading-text text-center">
			<h2>What people are saying!</h2>
			<p class="lead text-center">The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.</p>
				</div>
		 s
			<!-- Testimonials -->
					<div class="carousel arrows-visibile testimonial testimonial-single testimonial-left" data-items="1">
	
						<!-- Testimonials item -->
						<div class="testimonial-item">
							<img src="images/team/9.jpg" alt="">
							<p>Polo is by far the most amazing template out there! I literally could not be happier that I chose to buy this template!</p>
							<span>Alan Monre</span>
							<span>CEO, Square Software</span>
						</div>
						<!-- end: Testimonials item-->
	
						<!-- Testimonials item -->
						<div class="testimonial-item">
							<img src="images/team/9.jpg" alt="">
							<p>Polo is by far the most amazing template out there! I literally could not be happier that I chose to buy this template!</p>
							<span>Alan Monre</span>
							<span>CEO, Square Software</span>
						</div>
						<!-- end: Testimonials item-->
	
						<!-- Testimonials item -->
						<div class="testimonial-item">
							<img src="images/team/9.jpg" alt="">
							<p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>
							<span>Alan Monre</span>
							<span>CEO, Square Software</span>
						</div>
						<!-- end: Testimonials item-->
	
					</div>
					<!-- end: Testimonials -->
		</div>
	</section>

		<!-- Footer -->
	<footer id="footer">
			<div class="footer-content">
				<div class="container">
					<div class="row gap-y">
			
						<div class="col-md-6 col-xl-4">
						<p><a href="#"><img src="images/logo.png" alt="logo"></a></p>
						<p>To design is to discover relationships and to make arrangements and rearrangements among these ingredients.</p>
						</div>
			
						<div class="col-6 col-md-3 col-xl-2">
						<!-- Footer widget area 1 -->
					<div class="widget">
						<h4>PROJECT</h4>
						<ul class="list">
							<li><a href="#">Latest Release</a></li>
							<li><a href="#">Updates</a></li>
							<li><a href="#">License</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Links</a></li>
						</ul>
						</div>
						<!-- end: Footer widget area 1 --> 
						</div>
			
						<div class="col-6 col-md-3 col-xl-2">
						<!-- Footer widget area 2 -->
						<div class="widget">
						<h4>SUPPORT</h4>
						<ul class="list"> 
							<li><a href="#">Troubleshooting</a></li>
							<li><a href="#">Common Questions</a></li>
							<li><a href="#">Report a Bug</a></li>
							<li><a href="#">Get Help</a></li>
							<li><a href="#">FAQS</a></li>
						</ul>
						</div>
						<!-- end: Footer widget area 2 --> 
						</div>
			
						<div class="col-6 col-md-6 col-xl-2">
						<!-- Footer widget area 3 -->
						<div class="widget">
						<h4>COMPANY</h4>
						<ul class="list">
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Home</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Portfolio</a></li>
						</ul>
						</div>
						<!-- end: Footer widget area 3 --> 
						</div>
			
						<div class="col-6 col-md-6 col-xl-2">
						<p><a class="btn btn-block" href="#">Download Now</a></p>
						<br>
						<!-- Social icons -->
						<h5>FOLLOW US</h5>
						<div class="social-icons social-icons-colored social-icons-rounded float-left">
							<ul>
								<li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
							<li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
						<!-- end: Social icons --> 
						</div>
			
					</div>
					</div>
				</div>
				<div class="copyright-content">
				<div class="container">
				
					<div class="copyright-text text-center">&copy; 2019 POLO -  Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="http://www.inspiro-media.com" target="_blank">INSPIRO</a> </div>
				
				</div>
				</div>
			</footer>
			<!-- end: Footer -->
		</div>
		<!-- end: Body Inner -->
	
		<!-- Scroll top -->
		<a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a><!--Plugins-->
	 <script src="js/jquery.js"></script>
	 <script src="js/plugins.js"></script>
	
	<!--Template functions-->
	 <script src="js/functions.js"></script> 
	
	
	</body>
	
	</html>