<!DOCTYPE html>
<html lang="ko">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<!-- Document title -->
	<title>DoubleK-HumanTech</title>
	<!-- Stylesheets & Fonts -->
	<link href="css/plugins.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet"> 
</head>

<body>

	<!-- Body Inner -->
	<div class="body-inner">

		<!-- Header -->
		<header id="header" class="header-mini dark">
			<div class="header-inner">
				<div class="container">
					<!--Logo-->
					<div id="logo">
						<a href="index.html" class="logo" data-src-dark="images/logo-dark.png">
							<img src="images/logo.png" alt="Polo Logo">
						</a>
					</div>
					<!--End: Logo-->

					<!-- Search -->
					<div id="search">
						<div id="search-logo"><img src="images/logo.png" alt="Polo Logo"></div>
						<button id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></button>
						<form class="search-form" action="search-results-page.html" method="get">
							<input class="form-control" name="q" type="search" placeholder="Search..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
							<span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
						</form>

						<div class="search-suggestion-wrapper">

							<div class="search-suggestion">
								<h3>News Articles</h3>
								<p><a href="#">Beautiful nature, and rare feathers!</a></p>
								<p><a href="#">New costs and rise of the economy!</a></p>
								<p><a href="#">A true story, that never been told!</a></p>
							</div>
							<div class="search-suggestion">
								<h3>Looking for these?</h3>
								<p><a href="#">New costs and rise of the economy!</a></p>
								<p><a href="#">AI can be trusted to take answer calls </a></p>
								<p><a href="#">Polo now lets you easily create any beautiful clean website</a></p>
							</div>
							<div class="search-suggestion">
								<h3>Blog Posts</h3>
								<p><a href="#">A true story, that never been told!</a></p>
								<p><a href="#">Beautiful nature, and rare feathers!</a></p>
								<p><a href="#">The most happiest time of the day!</a></p>
							</div>

						</div>
					</div>
					<!-- end: search -->

					<!--Header Extras-->
					<div class="header-extras">
						<ul>
							<li>
								<!--search icon-->
								<a id="btn-search" href="#"> <i class="icon-search1"></i></a>
								<!--end: search icon-->
							</li>
						</ul>
					</div>
					<!--end: Header Extras-->

					<!--Navigation Resposnive Trigger-->
					<div id="mainMenu-trigger">
						<button class="lines-button x"> <span class="lines"></span> </button>
					</div>
					<!--end: Navigation Resposnive Trigger-->

					<!--Navigation-->
					<div id="mainMenu">
						<div class="container">
							<nav>
								<ul>
									<li class="dropdown"><a href="company1.html">회사소개</a></li>
									<li class="dropdown"><a href="business1.html">사업소개</a></li>

									<li class="dropdown"><a href="#">제품</a>
										<ul class="dropdown-menu">
											<li><a href="product1.html">이베리스 공기청정기</a></li>
										</ul>
									</li>

									<li class="dropdown"><a href="gallery1.html">갤러리</a></li>

									<li class="dropdown"><a href="#">커뮤니티</a>
										<ul class="dropdown-menu">
											<li><a href="notice.html">공지사항</a></li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!--end: Navigation-->
				</div>
			</div>
		</header>
		<!-- end: Header -->

	<!-- Inspiro Slider -->
	<div id="slider" class="inspiro-slider slider-fullscreen arrows-large arrows-creative dots-creative" data-height-xs="360">
		<!-- Slide 1 -->
		<div class="slide background-overlay-dark kenburns" data-parallax-image="images/parallax/3.jpg">
			<div class="container">
				<div class="slide-captions text-light">
					<!-- Captions -->
					<span data-animate="fadeInUp" data-animate-delay="300" class="strong" style="padding-top:16%;">
						<a href="#" class="business"><span class="business">더블케이휴먼테크</span></a>
					</span>
					<h1 data-animate="fadeInUp" data-animate-delay="600">IBERIS 공기청정기<br></h1>
					<h3 data-animate="fadeInUp" data-animate-delay="600">0.3µm(마이크로미터)의 극초미세먼지까지 제거</h3>
					
					<div data-animate="fadeInUp" data-animate-delay="900">
						<button type="button" class="btn btn-rounded btn-reveal btn-reveal-left"><span>Learn More</span><i class="fa fa-arrow-right"></i></button>
					</div>
					<!-- end: Captions -->
					<div class="row" style="padding-top:14%;">
						<div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="1200">
							<h4>4단계 공기청정 시스템</h4>
							<p>프리필터 > 복합필터 > 헤파필터 > 탈취필터 <br> 0.3µm(마이크로미터)의 극초미세먼지까지 99.9% 정화</p>
						</div>
						<div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="1500">
							<h4>스마트 IOT</h4>
							<p>어플(IOS, ANDROID)을 통한 공기청정기 관리. <br> 어플을 이용해서 외부에서 공기청정기를 기능이용.</p>
						</div>
						<div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="1800">
							<h4>다른기능</h4>
							<p>Nulla varius consequat magna, id molestie ipsum volutpat quis. <br> A true story, that never been told!.</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- end: Slide 1 -->
	</div>
	<!--end: Inspiro Slider -->

	<!-- WELCOME -->
	<section class="p-b-0">
		<div class="container">
			<div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp">
				<h2>DOUBLE-K HUMAN TECH 더블케이휴먼테크</h2>
				<span class="lead">더블케이휴먼테크는 아이디어를 현실화 시키는 회사 입니다 아래는 제품사진ㄱ</span>
			</div>
			<div class="row" data-animate="fadeInUp">
				<div class="col-lg-12">
					<img class="img-fluid" src="images/wireframe/images/responsive-wireframe-1.jpg" alt="Welcome to POLO">
				</div>
			</div>
		</div>
	</section>
	<!-- end: WELCOME -->

	<!-- PIE CHARTS -->
	<section class="background-grey p-b-60">
		<div class="container">
			<div class="heading-text heading-section text-center m-b-40">
				<h2>이베리스 4단계 공기청정 시스템</h2>
				<span class="lead">0.3µm(마이크로미터)의 극초미세먼지까지 제거.</span>
			</div>
			<div class="row">
				<div class="col-lg-3 text-center" data-animate="fadeInUp" data-animate-delay="400">
					<div class="pie-chart" data-percent="82" data-color="#888" data-width="14"> <span class="percent"></span> </div>
					<h4>프리필터</h4>
					<p>눈에 보이는 공기 중 큰 먼지들을 제거</p>
				</div>
				<div class="col-lg-3 text-center" data-animate="fadeInUp" data-animate-delay="300">
					<div class="pie-chart" data-percent="99" data-color="#888" data-width="14"> <span class="percent"></span> </div>
					<h4>복합필터</h4>
					<p>황사 내 유해 물질을 99.9% 제거</p>
				</div>
				<div class="col-lg-3 text-center" data-animate="fadeInUp" data-animate-delay="100">
					<div class="pie-chart" data-percent="99" data-color="#888" data-width="14"><span class="percent"></span> </div>
					<h4>TRUE HEPA FILTER H14 등급</h4>
					<p>PM2.5 초미세먼지 99.9% 정화</p>
				</div>
				<div class="col-lg-3 text-center" data-animate="fadeInUp" data-animate-delay="200">
					<div class="pie-chart" data-percent="90" data-color="#888" data-width="14"> <span class="percent"></span> </div>
					<h4>탈취필터</h4>
					<p>톨루엔(휘발성유기화합물 원료) 제거</p>
				</div>
			</div>
		</div>
	</section>
	<!-- end: PIE CHARTS -->

	<!-- PRODUCT DETAILS 2 -->
	<section class="p-t-150 p-b-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6" data-animate="fadeInUp" data-animate-delay="1000">
					<div class="m-b-40">
						<h1>이베리스 공기청정기</h1>
						<span class="lead">0.3µm(마이크로미터)의 극초미세먼지까지 제거</span>
					</div>
					<a href="#" class="btn btn-dark"><span>Learn More</span></a>
				</div>

				<div class="col-lg-6 m-b-30" style="height:556px">
					<div class="image-absolute" data-animate="fadeInRight" data-animate-delay="800">
						<img src="images/wireframe/images/apple-tablet-2.png" alt="">
					</div>
					<div class="image-absolute" data-animate="fadeInRight" data-animate-delay="400">
						<img src="images/wireframe/images/apple-tablet-1.png" alt="">
					</div>
				</div>

			</div>
		</div>

	</section>
	<!-- PRODUCT DETAILS 2-->

	
	<!-- Content -->
	<section id="page-content">
		<div class="container">
			<div class="grid-system-demo-live">
				<div class="row">

					<div class="col-lg-12 p-t-80 p-b-20">
						<div class="heading-text heading-section">
							<h2>더블케이휴먼테크.</h2>
						</div>
					</div>

					<div class="col-lg-12">
						Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum. </div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<h5>1/2 Width (col-lg-6)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
					<div class="col-lg-6">
						<h5>1/2 Width (col-lg-6)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<h5>1/3 Width (col-lg-4)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
					<div class="col-lg-4">
						<h5>1/3 Width (col-lg-4)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
					<div class="col-lg-4">
						<h5>1/3 Width (col-lg-4)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<h5>1/4 Width (col-lg-3)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
					<div class="col-lg-3">
						<h5>1/4 Width (col-lg-3)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
					<div class="col-lg-3">
						<h5>1/4 Width (col-lg-3)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
					<div class="col-lg-3">
						<h5>1/4 Width (col-lg-3)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<h5>1/3 Width (col-lg-4)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
					<div class="col-lg-8">
						<h5>2/3 Width (col-lg-8)</h5>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie. </div>
				</div>
			</div>
		</div>
	</section>
	<!-- end: Content -->

	<!-- Footer -->
	<footer id="footer">
		<div class="footer-content">
			<div class="container">
				<div class="row gap-y">
		
					<div class="col-md-6 col-xl-4">
					<p><a href="#"><img src="images/logo.png" alt="logo"></a></p>
					<p>To design is to discover relationships and to make arrangements and rearrangements among these ingredients.</p>
					</div>
		
					<div class="col-6 col-md-3 col-xl-2">
					<!-- Footer widget area 1 -->
				<div class="widget">
					<h4>PROJECT</h4>
					<ul class="list">
						<li><a href="#">Latest Release</a></li>
						<li><a href="#">Updates</a></li>
						<li><a href="#">License</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Links</a></li>
					</ul>
					</div>
					<!-- end: Footer widget area 1 --> 
					</div>
		
					<div class="col-6 col-md-3 col-xl-2">
					<!-- Footer widget area 2 -->
					<div class="widget">
					<h4>SUPPORT</h4>
					<ul class="list"> 
						<li><a href="#">Troubleshooting</a></li>
						<li><a href="#">Common Questions</a></li>
						<li><a href="#">Report a Bug</a></li>
						<li><a href="#">Get Help</a></li>
						<li><a href="#">FAQS</a></li>
					</ul>
					</div>
					<!-- end: Footer widget area 2 --> 
					</div>
		
					<div class="col-6 col-md-6 col-xl-2">
					<!-- Footer widget area 3 -->
					<div class="widget">
					<h4>COMPANY</h4>
					<ul class="list">
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Home</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Portfolio</a></li>
					</ul>
					</div>
					<!-- end: Footer widget area 3 --> 
					</div>
		
					<div class="col-6 col-md-6 col-xl-2">
					<p><a class="btn btn-block" href="#">Download Now</a></p>
					<br>
					<!-- Social icons -->
					<h5>FOLLOW US</h5>
					<div class="social-icons social-icons-colored social-icons-rounded float-left">
						<ul>
							<li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
						<li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
						</ul>
					</div>
					<!-- end: Social icons --> 
					</div>
		
				</div>
				</div>
			</div>
			<div class="copyright-content">
			<div class="container">
			
				<div class="copyright-text text-center">&copy; 2019 POLO -  Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="http://www.inspiro-media.com" target="_blank">INSPIRO</a> </div>
			
			</div>
			</div>
		</footer>
		<!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a><!--Plugins-->
 <script src="js/jquery.js"></script>
 <script src="js/plugins.js"></script>

<!--Template functions-->
 <script src="js/functions.js"></script> 


</body>

</html>
