<!DOCTYPE html>
<html dir="ltr" lang="ko">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<!-- Document title -->
	<title>DoubleK-HumanTech</title>
	<!-- Stylesheets & Fonts -->
	<link href="css/plugins.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet"> 
</head>

<body>

	<!-- Body Inner -->
	<div class="body-inner">

		<!-- Header -->
		<header id="header" class="header-mini dark" data-transparent="true">
			<div class="header-inner">
				<div class="container">
					<!--Logo-->
					<div id="logo">
						<a href="index.html" class="logo" data-src-dark="images/logo-dark.png">
							<img src="images/logo.png" alt="Polo Logo">
						</a>
					</div>
					<!--End: Logo-->

					<!-- Search -->
					<div id="search">
						<div id="search-logo"><img src="images/logo.png" alt="Polo Logo"></div>
						<button id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></button>
						<form class="search-form" action="search-results-page.html" method="get">
							<input class="form-control" name="q" type="search" placeholder="Search..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
							<span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
						</form>

						<div class="search-suggestion-wrapper">

							<div class="search-suggestion">
								<h3>News Articles</h3>
								<p><a href="#">Beautiful nature, and rare feathers!</a></p>
								<p><a href="#">New costs and rise of the economy!</a></p>
								<p><a href="#">A true story, that never been told!</a></p>
							</div>
							<div class="search-suggestion">
								<h3>Looking for these?</h3>
								<p><a href="#">New costs and rise of the economy!</a></p>
								<p><a href="#">AI can be trusted to take answer calls </a></p>
								<p><a href="#">Polo now lets you easily create any beautiful clean website</a></p>
							</div>
							<div class="search-suggestion">
								<h3>Blog Posts</h3>
								<p><a href="#">A true story, that never been told!</a></p>
								<p><a href="#">Beautiful nature, and rare feathers!</a></p>
								<p><a href="#">The most happiest time of the day!</a></p>
							</div>

						</div>
					</div>
					<!-- end: search -->

					<!--Header Extras-->
					<div class="header-extras">
						<ul>
							<li>
								<!--search icon-->
								<a id="btn-search" href="#"> <i class="icon-search1"></i></a>
								<!--end: search icon-->
							</li>
						</ul>
					</div>
					<!--end: Header Extras-->

					<!--Navigation Resposnive Trigger-->
					<div id="mainMenu-trigger">
						<button class="lines-button x"> <span class="lines"></span> </button>
					</div>
					<!--end: Navigation Resposnive Trigger-->

					<!--Navigation-->
					<div id="mainMenu">
						<div class="container">
							<nav>
								<ul>
									<li class="dropdown"><a href="company1.html">회사소개</a></li>
									<li class="dropdown"><a href="business1.html">사업소개</a></li>

									<li class="dropdown"><a href="#">제품</a>
										<ul class="dropdown-menu">
											<li><a href="product1.html">이베리스 공기청정기</a></li>
										</ul>
									</li>

									<li class="dropdown"><a href="gallery1.html">갤러리</a></li>

									<li class="dropdown"><a href="#">커뮤니티</a>
										<ul class="dropdown-menu">
											<li><a href="notice.html">공지사항</a></li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!--end: Navigation-->
				</div>
			</div>
		</header>
		<!-- end: Header -->

		<!-- Page title https://ak3.picdn.net/shutterstock/videos/10214393/thumb/4.jpg-->
		<section id="page-title" class="page-title-right text-light" style="background-image:url(https://cdn.hipwallpaper.com/i/18/84/WJHqdP.jpg); background-size: cover; background-position: center center;">
			<div class="container">
				<div class="page-title">
					<h1>공지사항</h1>
					<span>더블케이휴먼텍</span>
				</div>
			</div>
		</section>
		<!-- end: Page title -->

		<!-- Page Content -->
        <section id="page-content">
			<div class="container">
				<div class="row">
					<div class="content col-lg-12">
						<h4>공지사항</h4>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">제목</th>
									<th scope="col">작성자</th>
									<th scope="col">작성날짜</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>제품구입후 설치방법</td>
									<td>더블케이휴먼텍</td>
									<td>2019-11-11</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>필터교환주기</td>
									<td>더블케이휴먼텍</td>
									<td>2019-11-11</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>필터수명</td>
									<td>더블케이휴먼텍</td>
									<td>2019-11-11</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>4</td>
									<td>더블케이휴먼텍</td>
									<td>2019-11-11</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>5</td>
									<td>더블케이휴먼텍</td>
									<td>2019-11-11</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>6</td>
									<td>더블케이휴먼텍</td>
									<td>2019-11-11</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>7</td>
									<td>더블케이휴먼텍</td>
									<td>2019-11-11</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>8</td>
									<td>더블케이휴먼텍</td>
									<td>2019-11-11</td>
								</tr>
											
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<!-- end: Content -->

		<!-- Footer -->
	<footer id="footer">
			<div class="footer-content">
				<div class="container">
					<div class="row gap-y">
			
						<div class="col-md-6 col-xl-4">
						<p><a href="#"><img src="images/logo.png" alt="logo"></a></p>
						<p>로고 및 회사 위치 정보 입력ㄱ</p>
						</div>
			
						<div class="col-6 col-md-3 col-xl-2">
						
						</div>
						</div>
			
					</div>
					</div>
				</div>
				<div class="copyright-content">
				<div class="container">
				
					<div class="copyright-text text-center">&copy; 2019 POLO -  Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="http://www.inspiro-media.com" target="_blank">INSPIRO</a> </div>
					
				</div>
				</div>
			</footer>
			<!-- end: Footer -->
		</div>
		<!-- end: Body Inner -->
	
		<!-- Scroll top -->
		<a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a><!--Plugins-->
	 <script src="js/jquery.js"></script>
	 <script src="js/plugins.js"></script>
	
	<!--Template functions-->
	 <script src="js/functions.js"></script> 
	
	
	</body>
	
	</html>